<!DOCTYPE html>
<html>
<head>
	<title>Express framework - EJS Template Engine</title>
	<link href="/assets/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
	<h4>Hello Express and EJS </h4>
</body>
</html>